{% extends 'index.html' %}

{% load static %}

{% block intermedio %}
<img src="{% static 'img/Intermedio/intermedio_agregar.gif' %}" alt="Carrousel" class="principal_intermedio">
{% endblock %}

{% block cuerpo %}
<div class="contendor_agregar">

    <img src="{% static 'img/Agregar/img_agregar_forms.gif' %}" alt="">

    <form action="" method="post" enctype="multipart/form-data">
        <h1>Complete los Datos</h1>
        {{forms}}
        {% csrf_token %}


        <input type="submit" value="Registrar" class="btn btn-success">
        <a href=""><input type="submit" value="Ver Producto" class="btn btn-secondary"></a>
        <!-- <p class="maldonado">{{mensaje}}</p> -->
        <!-- <p class="maldonado">{{mensaje}}</p>  -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
            {% for i in messages %}
            <script>
                Swal.fire({
                    title: "Registro",
                    text: "{{ i }}",
                    icon: "success"
                });
            </script>
            {% endfor %}
        {% endif %}

    </form>
</div>

{% endblock %}